/*SELECTORES*/

/*selector universal*/

*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*Selectores de etiquetas*/

h1{
    background: red;
    color: white;
    padding: 10px;
}

h2{
    padding:0;
    margin: 0;
}

a{
    font-size: 18px;
    color: green;
    text-decoration:wavy;
}

/*selector compuesto:
selecciona los enlaces dentro del footer*/
footer a{
    color : blue;
}

/*selector de ID*/
#descripcion, #titulo{
    border : 5px solid black;
    padding: 15px;

}

#titulo{
    background: blue;
    border: 2px dashed white;
}

#red{
    color:tomato;
}

/*selector de clase*/
.parrafo{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

.parrafo1, .parrafo2{
    padding: 15px;
}

.parrafo1{
    background-color: green;
}

.parrafo2{
    background-color: red;
}

/*selector de atributo*/

#usuario form{
    border : 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
}

#usuario form *{
    display:block;
}

/*selector de atributo*/
input[type="text"]{
    background:yellow;
    margin-bottom: 15px;
    padding:15px;
    width:200px;
}

input[id="red "]{
    background:red;
    margin-bottom: 15px;
    padding:15px;
    width:200px;
}

input[type="submit"]{
    background:green;
    color: white;
    font-size: 27px;
    padding:15px;
    text-transform: uppercase;
    border : 2px solid black;
    cursor:pointer;
}

/*selectores hijo: selecciona todos los hijos directos 
del elemento en cuestion*/
#menuInner  a{
    color: red ;
    font-size: 18px;
    text-decoration: underline;
}

#menuInner > li > a {
    color: blueviolet ;
    font-size: 18px;
    text-decoration: none;
}

#menu > li >a{
    color: red ;
    font-size: 18px;
    text-decoration: underline;
}

/*Prioridad*/

#saludo h1{
    background:brown!important;
}

#saludo h1{

    background:green;
}

h1{
    background: purple !important;
}

