*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.container{
    width:90%;
    max-width:600px;
    height:500px;
    outline:2px solid crismon;
    margin: 20px auto;
}

.item{
    width:100px;
    height:100px;
    background: darkcyan;
    color:#fff;
}