*{
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size:30px;
    margin:0;
}

div{
    width: 150px;
    height: 150px;
    margin:20px;
    border: 10px solid red;
    background: grey;
    overflow-x: 

}

img{
    width:1000px;
    position: relative;
    top:
}